<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>激活成功-高能广告</title>
        <meta name="description" content="激活成功-高能广告">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="/favicon.png">
        <link rel="stylesheet" href="../css/common/font-awesome.min.css">
        <link rel="stylesheet" href="../css/common/common.css">
        <link rel="stylesheet" href="../css/common/layout.css">
    </head>
    <body>
        <div class="top-header">
            <div class="wrap">
                <div class="logo-wrap">
                    <img id="top-header-logo" src="../img/logo.png" alt="高能广告logo">
                </div>
                <ul class="top-header-nav fr">
                    <li><a href="../index.html">首页</a></li>
                    <li><a href="productIntro.html">产品介绍</a></li>
                    <li><a href="partners.html">合作伙伴</a></li>
                    <li><a href="helpCenter/aboutUs.html">帮助中心</a></li>
                </ul>
            </div>
        </div>
        <div class="banner">
            
        </div>

        <div class="blank-100"></div>

        <div class="content">
            <div class="wrap">
                <div class="mian-content tc" style="line-height:30px;">
                    <h1 class="color-success" style="font-weight:500;">激活成功</h1>
                    <p class="f18 color-999 mt20" style="line-height:68px;">
                        <a class="btn bg-color-primary color-fff w150 underline-none" style="line-height:40px;"  href="../index.html">点击登录</a>
                    </p>
                </div>
                <div class="blank-50"></div>
                <div class="" style="line-height:30px;">
                    <h2 class="color-666">验证邮件激活不成功？</h2>
                    <p class="mt10">
                        您可以尝试再次发送。<a class="btn border-sample underline-none bg-color-eee" style="line-height:20px;padding:0 5px;">点击再次发送</a><br>
                        实在不行，没关系，请联系我们客服
                    </p>
                    <a class="btn bg-color-primary color-fff underline-none tc w150" href="../index.html">已验证，直接登录</a>
                </div>
                    
            </div>
        </div>

        <div class="blank-200"></div>

        <div class="footer" style="position:fixed;bottom:0;width:100%;">
            <div class="wrap">
                <ul class="footer-top-list">
                    <li><a class="color-fff" href="javascript:;">关于我们</a></li>
                    <li><a class="color-fff" href="javascript:;">诚聘英才</a></li>
                    <li><a class="color-fff" href="javascript:;">联系我们</a></li>
                    <li><a class="color-fff" href="javascript:;">友情链接</a></li>
                </ul>
                <ul>
                    <li>版权所有: 高能广告联盟</li>
                    <li>ICP证: 粤B2-12345678 粤ICP备12345678号</li>
                    <li>免费热线: 111222333</li>
                </ul>
            </div>
        </div>
        <script src="../js/lib/jquery/1.11.3/jquery-1.11.3.min.js"></script>
        <script src="../js/common/common.js"></script>
        <script src="../js/common/user.js"></script>
    </body>
</html>