<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>渠道-高能广告</title>
        <meta name="description" content="高能开发者-高能广告">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="/favicon.png">
        <link rel="stylesheet" href="../css/common/font-awesome.min.css">
        <link rel="stylesheet" href="../css/common/common.css">
        <link rel="stylesheet" href="../css/common/layout.css">
        <link rel="stylesheet" href="../css/views/partners.css">
        <style>
            .data-show-content{
                display: inline-block;
                margin-right:50px;
                

            }
            .data-show-content ul li{
                line-height: 30px;
            }
            .data-show-content ul li span{
                padding:0 12px;
                
            }
        </style>
    </head>
    <body>
        <div class="top-header">
            <div class="wrap">
                <div class="logo-wrap">
                    <img id="top-header-logo" src="../img/logo.png" alt="高能广告logo">
                </div>
                <ul class="top-header-nav fr">
                    <li><a class="nav-current" href="#">首页</a></li>
                    <li><a href="#">产品介绍</a></li>
                    <li><a href="#">合作伙伴</a></li>
                    <li><a href="#">帮助中心</a></li>
                </ul>
            </div>
        </div>
        <div class="banner">
            
        </div>
        <div class="blank-50"></div>
        <div class="content">
            <div class="wrap">
                <div class="content-title">
                    <h1 class="color-999"><img class="vm mr10 mb10" src="../img/developer/developer_01.png" alt="">高能渠道</h1>
                </div>
                <div class="content-body">
                    <ul>
                        <li class="item">
                            <h2><i class="circle"></i>广告申请流程</h2>
                            <img src="../img/channel/ad_appy_flow.jpg" alt="">
                        </li>
                        <li class="item clearfix">
                           
                            
                            <div class="data-show-content mt10 w100p">
                                <ul>
                                    <li class="mt20 w100p">
                                        <img class="mr20" style="width:50px;" src="../img/channel/ico_01.png" alt="">
                                        <div class="f14" style="display:inline-block;width:800px;line-height:20px;">
                                            <h4 class="f16">渠道</h4>
                                            渠道经营者，具有特定渠道的修改，新增，删除内容的自主权。广告主的广告在自已渠道播放，并按照达标的营销效果的总数量及单位效果价格从有米平台收取费用
    
                                        </div>
                                    </li>
                                    <li class="mt20 w100p">
                                        <img class="mr20" style="width:50px;" src="../img/channel/ico_01.png" alt="">
                                        <div class="f14" style="display:inline-block;width:800px;line-height:20px;">
                                            <h4 class="f16">渠道申请加入平台要求</h4>
                                            渠道对自己的推广形式有自主权，申请加入的渠道推广形式不能涉嫌包含淫秽、色情、赌博、暴力、凶杀、恐怖等法律法规所禁止的内容
                                        </div>
                                    </li>
                                    
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="blank-200"></div>
        <div class="footer" style="position:fixed;bottom:0;width:100%;">
            <div class="wrap">
                <ul class="footer-top-list">
                    <li><a class="color-fff" href="javascript:;">关于我们</a></li>
                    <li><a class="color-fff" href="javascript:;">诚聘英才</a></li>
                    <li><a class="color-fff" href="javascript:;">联系我们</a></li>
                    <li><a class="color-fff" href="javascript:;">友情链接</a></li>
                </ul>
                <ul>
                    <li>版权所有: 高能广告联盟</li>
                    <li>ICP证: 粤B2-12345678 粤ICP备12345678号</li>
                    <li>免费热线: 111222333</li>
                </ul>
            </div>
        </div>
        <img class="contact-us" src="../img/contact_us.png" alt="">
        <script src="../js/lib/jquery/1.11.3/jquery-1.11.3.min.js"></script>
        <script src="../js/common/common.js"></script>
        <script src="../js/common/user.js"></script>
        <script src="../js/views/template.js"></script>
    </body>
</html>