<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>高能开发者-高能广告</title>
        <meta name="description" content="高能开发者-高能广告">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="/favicon.png">
        <link rel="stylesheet" href="../css/common/font-awesome.min.css">
        <link rel="stylesheet" href="../css/common/common.css">
        <link rel="stylesheet" href="../css/common/layout.css">
        <link rel="stylesheet" href="../css/views/partners.css">
    </head>
    <body>
        <div class="top-header">
            <div class="wrap">
                <div class="logo-wrap">
                    <img id="top-header-logo" src="../img/logo.png" alt="高能广告logo">
                </div>
                <ul class="top-header-nav fr">
                    <li><a class="nav-current" href="#">首页</a></li>
                    <li><a href="#">产品介绍</a></li>
                    <li><a href="#">合作伙伴</a></li>
                    <li><a href="#">帮助中心</a></li>
                </ul>
            </div>
        </div>
        <div class="banner">
            <div class="wrap mt50">
                <div class="banner-pic">
                    <img src="../img/partners/help_header_pic.jpg" alt="">
                </div>    
            </div>
        </div>
        <div class="blank-50"></div>
        <div class="content">
            <div class="wrap">
                <div class="content-title">
                    <h1 class="color-999"><img src="" alt="">高能开发者</h1>
                </div>
                <div class="content-body">
                    <ul>
                        <li class="item">
                            <h2><i class="circle"></i>如何嵌入广告</h2>
                            <img src="../img/developer/how_embed_ad.jpg" alt="">
                        </li>
                        <li class="item">
                            <h2><i class="circle"></i>数据展示</h2>
                            <img src="../img/partners/dev.png" alt="">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="blank-200"></div>
        <div class="footer" style="position:fixed;bottom:0;width:100%;">
            <div class="wrap">
                <ul class="footer-top-list">
                    <li><a class="color-fff" href="javascript:;">关于我们</a></li>
                    <li><a class="color-fff" href="javascript:;">诚聘英才</a></li>
                    <li><a class="color-fff" href="javascript:;">联系我们</a></li>
                    <li><a class="color-fff" href="javascript:;">友情链接</a></li>
                </ul>
                <ul>
                    <li>版权所有: 高能广告联盟</li>
                    <li>ICP证: 粤B2-12345678 粤ICP备12345678号</li>
                    <li>免费热线: 111222333</li>
                </ul>
            </div>
        </div>
        <img class="contact-us" src="../img/contact_us.png" alt="">
        <script src="../js/lib/jquery/1.11.3/jquery-1.11.3.min.js"></script>
        <script src="../js/common/common.js"></script>
        <script src="../js/common/user.js"></script>
        <script src="../js/views/template.js"></script>
    </body>
</html>