<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>产品介绍-高能广告</title>
        <meta name="description" content="数据存储开发指南">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="/favicon.png">
        <link rel="stylesheet" href="../css/common/font-awesome.min.css">
        <link rel="stylesheet" href="../css/common/common.css">
        <link rel="stylesheet" href="../css/common/layout.css">
        <link rel="stylesheet" href="../css/views/productIntro.css">
    </head>
    <body>
        <div class="top-header">
            <div class="wrap">
                <div class="logo-wrap">
                    <img id="top-header-logo" src="../img/logo.png" alt="高能广告logo">
                </div>
                <ul class="top-header-nav fr">
                    <li><a href="../../index.html">首页</a></li>
                    <li><a href="../productIntro.html">产品介绍</a></li>
                    <li><a href="../partners.html">合作伙伴</a></li>
                    <li><a href="../helpCenter/aboutUs.html">帮助中心</a></li>
                </ul>
            </div>
        </div>
        <div class="banner">
            <div class="wrap tc">
                <ul class="banner-nav">
                    <li class="spot-ad border-none">
                        <a id="spot-ad-link" href="#spot-ad">
                            <i class="ico ico-spot-ad"></i>
                            插屏广告    
                        </a>
                    </li>
                    <li class="app-wall"> 
                        <a id="app-wall-link" href="#app-wall">
                            <i class="ico ico-app-wall"></i>
                            应用墙
                        </a>
                    </li>
                    <li class="ad-banner">
                        <a id="ad-banner-link" href="#ad-banner">
                            <i class="ico ico-ad-banner"></i>
                            广告条
                        </a>
                    </li>
                </ul>    
            </div>
        </div>

        <div class="blank-50"></div>

        <div class="content">
            <div class="wrap">
                <!-- 插屏广告 start-->
                <div class="product-box spot-ad" id="spot-ad">
                    <h3 class="product-title">插屏广告</h3>
                    <ul class="wrap-product-desc">
                        <li class="product-info-item">
                            <h5 class="product-subtitle">什么是插屏广告？</h5>
                            <img class="fr mt50" src="../img/product-intro/spot-1.png" alt="">
                            <ul class="product-desc" style="width:551px;">
                                <li>高能插屏广告是在移动应用里以半屏或全屏大图方式展现 广告，可控制广告展现的时间和界面的新型移动广告形式</li>
                                <li>大图广告对视觉冲击更大，加上广告动态炫酷，制作精美，对用户非常有吸引力，广告转化率高</li>
                                <li>可为广告主的产品、品牌投放带来更好的效果，为开发者带来更高的收入</li>
                            </ul>
                        </li>
                        <li class="product-info-item">
                            <h5 class="product-subtitle">与应用更完美结合，收入更高</h5>
                            <img class="fl" src="../img/product-intro/new-spot.gif" alt="">
                            <ul class="product-desc ">
                                <li>高能插屏广告的弹出时机和页面场景均可由开发者自行设定，无论是在启动时还是在退出时，或者在应用的暂停时段出现，插屏广告都能与应用契合无比。</li>
                                <li>优于其他广告形式的内容展示，给用户高质量的视觉享受，让用户不由自主为开发者带来收益</li>
                                <li>同时插屏广告将带来更多的品牌展示广告，开发者获得收入的方式将更为简易便捷</li>
                            </ul>
                        </li>
                        <li class="product-info-item">
                            <h5 class="product-subtitle clear">更受广告主亲睐</h5>
                            <ul class="product-desc">
                                <li>传统的移动广告一直为广告主与PC互联网同行诟病的就是太小的显示界面，但是随着移动终端设备屏幕的不断“长大升级”，高
        能插屏广告将与大屏终端完美结合，更有力地传播各行各业广告主的产品与品牌需求</li>
                            </ul>
                        </li>
                        <li class="product-info-item clear">
                            <h5 class="product-subtitle">用户体验更优化</h5>
                            <ul class="product-desc">
                                <li>不同于传统的Banner广告条形式，插屏广告一般出现在应用的间歇时段，极大减少对于应用使用时的界面占用，使开发者的应用体验评价更高</li>
                            </ul>
                        </li>
                        <li class="product-info-item">
                            <h5 class="product-subtitle">插屏广告计费方式</h5>
                            <ul class="product-desc">
                                <li>高能插屏广告采取CPM（每千次展示计费）、CPC（每点击计费）的方式结算</li>
                                <li>两种计费手段互补，高填充率，eCPM价格高达16元</li>
                                <li>大流量APP变现的最佳方式，展示越大收入越高</li>
                            </ul>
                        </li>
                        <li class="product-info-item">
                            <h5 class="product-subtitle">我的APP适不适合使用插屏广告？</h5>
                            <ul class="product-desc">
                                <li>应用和游戏都适合使用插屏广告</li>
                                <li>因为不影响应用界面，特别适合对画面要求比较高的游戏和阅读软件</li>
                            </ul>
                        </li>
                        <li class="product-info-item">
                            <h5 class="product-subtitle">插屏广告使用建议</h5>
                            <ul class="product-desc">
                                <li>在用户等待时插入广告（如游戏加载中、上传图片等待中）</li>
                                <li>在用户操作暂停时插入广告（如阅读暂停、游戏中途暂停、通关或通关失败、退出返回主菜单）</li>
                                <li>在用户访问比较频繁的页面插入广告</li>
                                <li>适当控制广告插屏的频率，以免影响用户体验</li>
                            </ul>
                        </li>
                        <li class="product-info-item">
                            <h5 class="product-subtitle">插屏广告SDK下载</h5>
                            <div class="product-sdk-download">
                                <a target="_blank" href="/page/download/sdk">马上去下载</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- 插屏广告 end-->
                <!-- 应用墙 start-->
                <div class="product-box app-wall" id="app-wall">
                    <h3 class="product-title">应用墙广告</h3>
                    <ul class="wrap-product-desc">
                        <li class="product-info-item">
                            <h5 class="product-subtitle">什么是应用墙？</h5>
                            <img class="fr mt50" src="../img/product-intro/wall-1.png" alt="">
                            <ul class="product-desc" style="width:445px;">
                                <li>高能应用墙是在APP内展示各种广告任务以供用户完成任务获得虚拟币的页面</li>
                                <li>广告任务包括安装试用优质应用、注册、填表等</li>
                                <li>用户完成任务获得虚拟币的同时，APP的开发者也能获得收入</li>
                                <li>有米积分墙现有“全屏积分墙”和“对话框式积分墙”两种形式</li>
                                <li>新增的分享任务广告形式，用户一次分享就能获得无限收益</li>
                                <li>支持Android和iOS平台</li>
                            </ul>
                        </li>
                        <li class="product-info-item">
                            <h5 class="product-subtitle">全屏应用墙</h5>
                            <img class="" src="../img/product-intro/wall-2.jpg" alt="">
                            <ul class="product-desc fr mt100">
                                <li>点击应用墙入口，以跳转到全屏页面的方式展示积分墙</li>
                                <li>页面美观大方，与APP完美结合，为用户带来良好体验</li>
                            </ul>
                        </li>
                         <li class="product-info-item">
                            <h5 class="product-subtitle">对话框式应用墙</h5>
                            <img class="fr" src="../img/product-intro/wall-3.jpg" alt="">
                            <ul class="product-desc mt100">
                                <li>点击积分墙入口，以对话框的形式在原来的APP页面弹出积分墙</li>、
                                <li>减少了页面切换的次数，让积分墙与应用的搭配更自然</li>
                            </ul>
                        </li>
                        <li class="product-info-item clear">
                            <h5 class="product-subtitle">分享任务广告</h5>
                            <img class="fl" src="../img/product-intro/wall-4.jpg" alt="">
                            <ul class="product-desc fr mt100" style="width:500px;">
                                <li>分享任务是在APP内展示广告主宣传内容，用户转发分享这些内容到微信或微博便可获得积分</li>
                                <li>用户分享的内容受到朋友的点击阅读，又可以继续获得积分，一次分享，收益无限</li>
                            </ul>
                        </li>
                        <li class="product-info-item clear">
                            <h5 class="product-subtitle">应用墙SDK下载</h5>
                            <div class="product-sdk-download">
                                <a target="_blank" href="/page/download/sdk">马上去下载</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- 应用墙 end -->
                <!-- 广告条 start -->
                <div class="product-box ad-banner" id="ad-banner">
                    <h3 class="product-title">广告条</h3>
                    <ul class="wrap-product-desc">
                        <li class="product-info-item">
                            <h5 class="product-subtitle">什么是广告条？</h5>
                            <ul class="product-desc">
                                <li>广告条是在移动应用的特定区域内固定展示广告的广告形式，又被称为横幅广告、Banner等</li>
                                <li>广告的展示形式有“文字+图标”、图片、动画等</li>
                                <li>点击广告之后的效果有下载手机应用，跳转到手机网页，播放富媒体，拨打电话&发送短信等形式</li>
                            </ul>
                        </li>
                        <li class="product-info-item">
                            <h5 class="product-subtitle">下载手机应用</h5>
                            <img src="../img/product-intro/process-1.png" alt="">
                            <ul class="product-desc fr" style="width:450px;">
                                <li>广告条在加入高能的5W多款应用和游戏中展示，用户体验应用就能看到广告条，用户感兴趣时会点击广告条</li>
                                <li>广告条会变为确认按钮，用户点击确认之后才会下载</li>
                                <li>点提示应用的下载进度</li>
                            </ul>
                        </li>
                        <li class="product-info-item clearfix">
                            <h5 class="product-subtitle">更受广告主亲睐</h5>
                            <img class="fr" src="../img/product-intro/process-2.png" alt="">
                            <ul class="product-desc fl mt20">
                                <li>点击广告条可以在桌面创建快捷图标，方便用户后续的使用</li>
                                <li>点击选择打开的浏览器，如果用户默认了浏览器则直接打开</li>
                                <li>打开指定的网页</li>
                            </ul>
                        </li>
                        <li class="product-info-item">
                            <h5 class="product-subtitle">拨打电话&发送短信</h5>
                            <img class="" src="../img/product-intro/process-3.png" alt="">
                            <ul class="product-desc fr" style="width:450px;"> 
                                <li>将企业/商家信息显示在广告条上面，吸引用户的注意</li>
                                <li>用户感兴趣之后点击，提示是否确定跳转至拨打电话页面or发短信页面进行咨询</li>
                                <li>用户确定后，为用户拨通商家/企业的电话or发送短信</li>
                            </ul>
                        </li>
                        <li class="product-info-item">
                            <h5 class="product-subtitle">广告条的新突破：支持动画等多种新型展现形式</h5>
                            <img class="fr" src="../img/product-intro/new-banner.gif" alt="">
                            <ul class="product-desc mt100">
                                <li>新版广告条完美融合最新的HTML5技术，支持动画等新型展播形式，可以最大限度吸引用户眼球</li>
                                <li>精美的广告画面更容易打动潜在用户，广告转化率得以成倍增长，开发者收入大幅增加</li>
                            </ul>
                        </li>
                        <li class="product-info-item">
                            <h5 class="product-subtitle">广告条的计费方式</h5>
                            <ul class="product-desc">
                                <li>广告条根据投放的广告类型而定，可按CPM（千次展示）、CPC（点击）、CPA(效果）计费。目前一般按CPC和CPA计费</li>
                                <li>特别注意，若广告按效果数计费，则不重复计费展示数、点击数；按点击数计费、则不重复计费展示数、效果数。其他同理</li>
                                <li>实时数据，真实透明</li>
                            </ul>
                        </li>
                        <li class="product-info-item">
                            <h5 class="product-subtitle">我的APP适不适合使用广告条？</h5>
                            <ul class="product-desc">
                                <li>广告条是被用户熟知并接受的广告形式，且使用方便，只要APP页面有位置则可嵌入，应用和游戏都适合</li>
                                <li>广告条收入受用户量影响比较大，特别适合用户量大的APP</li>
                                <li>由于固定展示广告，对画面要求比较高的游戏页面使用时要注意</li>
                            </ul>
                        </li>
                        <li class="product-info-item">
                            <h5 class="product-subtitle">广告条使用建议</h5>
                            <ul class="product-desc">
                                <li>广告放置不影响用户使用，要远离操作区域、避免遮挡和误点击</li>
                                <li>放置在用户停留较久的页面</li>
                                <li>放置在用户访问比较频繁的页面</li>
                                <li>可以适当加上可关闭广告按钮</li>
                            </ul>
                        </li>
                        <li class="product-info-item">
                            <h5 class="product-subtitle">广告条SDK下载</h5>
                            <div class="product-sdk-download">
                                <a target="_blank" href="/page/download/sdk">马上去下载</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            
            <!-- 广告条 end -->
        </div>

        <div class="blank-100"></div>

        <div class="footer">
            <div class="wrap">
                <ul class="footer-top-list">
                    <li><a class="color-fff" href="javascript:;">关于我们</a></li>
                    <li><a class="color-fff" href="javascript:;">诚聘英才</a></li>
                    <li><a class="color-fff" href="javascript:;">联系我们</a></li>
                    <li><a class="color-fff" href="javascript:;">友情链接</a></li>
                </ul>
                <ul>
                    <li>版权所有: 高能广告联盟</li>
                    <li>ICP证: 粤B2-12345678 粤ICP备12345678号</li>
                    <li>免费热线: 111222333</li>
                </ul>
            </div>
        </div>
        <script src="../js/lib/jquery/1.11.3/jquery-1.11.3.min.js"></script>
        <script src="../js/common/common.js"></script>
        <script src="../js/common/user.js"></script>
        <script src="../js/views/productIntro.js"></script>
    </body>
</html>
