<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>关于我们-高能广告</title>
        <meta name="description" content="关于我们-高能广告">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="/favicon.png">
        <link rel="stylesheet" href="../../css/common/font-awesome.min.css">
        <link rel="stylesheet" href="../../css/common/common.css">
        <link rel="stylesheet" href="../../css/common/layout.css">
        <link rel="stylesheet" href="../../css/views/helpCenter.css">
    </head>
    <body>
        <div class="top-header">
            <div class="wrap">
                <div class="logo-wrap">
                    <img id="top-header-logo" src="../../img/logo.png" alt="高能广告logo">
                </div>
                <ul class="top-header-nav fr">
                    <li><a href="#">首页</a></li>
                    <li><a href="#">产品介绍</a></li>
                    <li><a href="#">合作伙伴</a></li>
                    <li><a href="#">帮助中心</a></li>
                </ul>
            </div>
        </div>
        <div class="blank-50"></div>
        <div class="banner">
            <div class="wrap">
                <img class="w100p" src="../../img/helpCenter/help_header_pic.jpg" alt="">    
            </div>
        </div>

        <div class="blank-50"></div>

        <div class="content">
            <div class="wrap">
                <div class="nav">
                    <ul>
                        <li><a class="help-nav-current" href="aboutUs.html">关于我们</a></li>
                        <li><a href="normalQ.html">常见问题</a></li>
                        <li><a href="contactUs.html">联系我们</a></li>
                        <li><a href="joinUs.html">加入我们</a></li>
                        <li><a href="loadCenter.html">下载中心</a></li>
                        <li><a href="onlineFB.html">在线反馈</a></li>
                        <li><a href="news.html.html">高能动态</a></li>
                    </ul>
                </div>
                <div class="content-title">
                    <h1 class="color-999"><i class="square"></i>广告主常见问题</h1>
                </div>
                <div class="content-body">
                    <ul>
                        <li class="item">
                            <h2><i class="circle"></i>高能广告是什么？</h2>
                            <p> 广州高能广告有限公司（简称高能广告）是全球领先的移动营销服务商，总部和研发中心设在广州，在北京、香港、江苏等地设立控股子公司，在上海、广州设立办事处。2010年4月创立以来，优蜜移动持续专注于移动互联网产品及服务，致力于让移动互联网融入人们的生活，为广大的开发者等内容提供商创造收益。</p>
                            <img style="margin:10px 10px; width:90%;" src="../../img/helpCenter/about_us.png" alt="">
                        </li>
                        <li class="item">
                            <h2><i class="circle"></i>平台介绍</h2>
                            <p>高能广告，于2015年9月正式上线.高能广告致力于为广告主提供精准的产品推广和品牌营销服务，为应用开发者创造公正和优质的广告收益。高能实施全球化战略，建立专注于国际业务的全球化移动广告平ADXMI，移动互联网广告业务覆盖全球，为中国移动游戏及应用产品提供专业的全球化营销解决方案。</p>
                        </li>
                        <li class="item inline-block w48p">
                            <h2><i class="circle"></i>企业文化</h2>
                            <p>健康，快乐，成长，感恩</p>
                        </li>
                        <li class="item inline-block w48p">
                            <h2><i class="circle"></i>团队精神</h2>
                            <p>和谐，进取，高效，创新</p>
                        </li>
                         <li class="item inline-block w48p">
                            <h2><i class="circle"></i>净盈理念</h2>
                            <p>服务客户，客户至上，创造价值</p>
                        </li>
                         <li class="item inline-block w48p">
                            <h2><i class="circle"></i>我们的梦想</h2>
                            <p>让移动互联网融入人们的生活，为广大的开发者等内容提供商创造收益</p>
                        </li>
                        <li class="item">
                            <h2><i class="circle"></i>我们的目标</h2>
                            <ul class="target ml50 color-999">
                                <li>把“有米广告”打造成为全球领先的手机广告平台</li>
                                <li>使“有米广告”成为大众熟知、业界著名的广告品牌</li>
                                <li>把“优蜜移动”打造成一家国内外均有广泛影响力的移动互联网信息服务企业</li>
                            </ul>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>

        <div class="blank-100"></div>

        <div class="footer">
            <div class="wrap">
                <ul class="footer-top-list">
                    <li><a class="color-fff" href="javascript:;">关于我们</a></li>
                    <li><a class="color-fff" href="javascript:;">诚聘英才</a></li>
                    <li><a class="color-fff" href="javascript:;">联系我们</a></li>
                    <li><a class="color-fff" href="javascript:;">友情链接</a></li>
                </ul>
                <ul>
                    <li>版权所有: 高能广告联盟</li>
                    <li>ICP证: 粤B2-12345678 粤ICP备12345678号</li>
                    <li>免费热线: 111222333</li>
                </ul>
            </div>
        </div>
        <img class="contact-us" src="../../img/contact_us.png" alt="">
        <script src="../../js/lib/jquery/1.11.3/jquery-1.11.3.min.js"></script>
        <script src="../../js/common/common.js"></script>
        <script src="../../js/common/user.js"></script>
    </body>
</html>