<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>加入我们-高能广告</title>
    <meta name="description" content="加入我们-高能广告">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.png">
    <link rel="stylesheet" href="../../css/common/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/common/common.css">
    <link rel="stylesheet" href="../../css/common/layout.css">
    <link rel="stylesheet" href="../../css/views/helpCenter.css">
    <style>
            .us-advantage{
            }
            .us-advantage ul li{

                margin-left: 40px;
                list-style-type: disc;
                
                line-height: 30px;
                color:#666666;

            }

        </style>
</head>
<body>
    <div class="top-header">
        <div class="wrap">
            <div class="logo-wrap">
                <img id="top-header-logo" src="../../img/logo.png" alt="高能广告logo"></div>
            <ul class="top-header-nav fr">
                <li><a href="../../index.html">首页</a></li>
                <li><a href="../productIntro.html">产品介绍</a></li>
                <li><a href="../partners.html">合作伙伴</a></li>
                <li><a href="../helpCenter/aboutUs.html">帮助中心</a></li>
            </ul>
        </div>
    </div>
    <div class="blank-50"></div>
    <div class="banner">
        <div class="wrap">
            <img class="w100p" src="../../img/helpCenter/help_header_pic.jpg" alt=""></div>
    </div>

    <div class="blank-50"></div>

    <div class="content">
        <div class="wrap">
            <div class="nav">
                <ul>
                    <li>
                        <a href="aboutUs.html">关于我们</a>
                    </li>
                    <li>
                        <a href="normalQ.html">常见问题</a>
                    </li>
                    <li>
                        <a href="contactUs.html">联系我们</a>
                    </li>
                    <li>
                        <a class="help-nav-current" href="joinUs.html">加入我们</a>
                    </li>
                    <li>
                        <a href="downloadCenter.html">下载中心</a>
                    </li>
                    <li>
                        <a href="onlineFB.html">在线反馈</a>
                    </li>
                    <li>
                        <a href="news.html.html">高能动态</a>
                    </li>
                </ul>
            </div>
            <div class="content-title">
                <h1 class="color-999"> <i class="square"></i>
                    加入我们
                </h1>
            </div>
            <div class="content-body">
                <ul>
                    <li class="item">
                        <h2> <i class="circle"></i>
                            高能的优势
                        </h2>
                        <div class="us-advantage">
                            <ul>
                                <li>
                                    我们拥有顶尖的运营团队和研发团队以及高绩效营销团队。这里齐聚了来自微软、IBM、腾讯、百度、  
    迅雷等知名企业的精英！一起追求梦想，共同书写属于年轻人的新篇章。
                                </li>
                                <li>
                                    迎着移动互联网高速发展的机遇，怀揣梦想、不甘平庸的我们，团结一致、踏实肯干、坚持创新、不断  
    进取，专注完善产品，积极开拓市场，在短短的两年里获得如2011-2012中国最佳广告平台和广告创新
    奖等诸多荣誉。
                                </li>
                                <li>
                                    我们追求卓越，致力于将高能打造成一流的移动互联网企业；我们志存高远，致力于进行一次广告的革
    命，让广告提升人们生活品质，重新书写广告的历史。
                                </li>
                                <li>
                                    我们的理念是 “服务客户，用户至上，创造价值”。我们深信，只要时刻把客户和用户放在第一位，持
    续用心地完善产品和服务，完美地结合用户需求和商业目标，成功就会水到渠成。
                                </li>
                                <li>
                                    我们依托持续的创新精神，以“为用户创造价值”的原则来指导产品的设计与研发，通过国内领先的手
    机广告网络平台--高能广告，协助中国数以百万计的企业推广产品、提升品牌价值，帮助手机应用开发 
    者实现持续的良好的收益。
                                </li>
                                <li>
                                    我们为你提供优越的工作环境、健全的福利保障和和有竞争力的薪酬。在我们团队，你可以在工作范围  
    内挑选你自己最喜欢的事情；你也可以废寝忘食，每天的工作和学习12小时以上！在这里，你也可以在 
    合适时间，玩一下桌球、乒乓球和桌上足球！在你的身边，将是对所在领域最熟悉、最有激情的同事；
    你在迅速提高自身能力的同时将与公司一同迅速成长！
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="item">
                        <h2>
                            <i class="circle"></i>
                            我们希望你
                        </h2>
                        <div class="us-advantage">
                            <ul>
                                <li>有持续不断的激情、良好的团队合作精神和钻研精神，适合在创业型公司工作；</li>
                                <li>有志于在移动互联网领域学习，愿意跟随公司一起发展；</li>
                                <li>有独立思考、团结协作、主动沟通、积极执行的能力。</li>
                            </ul>
                        </div>
                    </li>
                    <li class="item">
                        <h2>
                            <i class="circle"></i>
                            加入我们，你将获得
                        </h2>
                        <div class="us-advantage">
                            <ul>
                                <li>
                                    不断的成长机会
                                    <br>和公司各个领域的“牛人”一起成长 -- 从无到有，从小到大</li>
                                <li>
                                    有发挥才华的空间
                                    <br>公司为大家提供最广阔的发展舞台，你可以用最好的姿态去迎接挑战</li>
                                <li>
                                    优良的文化
                                    <br>健康第一，快乐工作，一同成长；平等、轻松的伙伴式工作氛围！</li>
                                <li>
                                    舒适的工作环境
                                    <br>开放式办公环境，可以舒心呼吸的空气；桌上足球、按摩椅、午睡床。</li>
                                <li>
                                    各种福利…
                                    <br>每天清晨的牛奶、午餐、下午茶、水果；体育节、分享会、电影节，无微不至的关怀，甜美的微笑…</li>
                            </ul>
                        </div>
                    </li>
                    <li class="item">
                        <h2>
                            <i class="circle"></i>
                            社会招聘
                        </h2>
                        <div class="us-advantage">
                            <ul>
                                <li>请将个人简历发至505453925@qq.com, 谢谢！</li>
                            </ul>
                        </div>
                    </li>
                    <li class="item">
                        <h2>
                            <i class="circle"></i>
                            校园招聘
                        </h2>
                        <div class="us-advantage">
                            <ul>
                                <li>请将个人简历发至505453925@qq.com, 谢谢！</li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <div class="blank-100"></div>

    <div class="footer">
        <div class="wrap">
            <ul class="footer-top-list">
                <li>
                    <a class="color-fff" href="javascript:;">关于我们</a>
                </li>
                <li>
                    <a class="color-fff" href="javascript:;">诚聘英才</a>
                </li>
                <li>
                    <a class="color-fff" href="javascript:;">联系我们</a>
                </li>
                <li>
                    <a class="color-fff" href="javascript:;">友情链接</a>
                </li>
            </ul>
            <ul>
                <li>版权所有: 高能广告联盟</li>
                <li>ICP证: 粤B2-12345678 粤ICP备12345678号</li>
                <li>免费热线: 111222333</li>
            </ul>
        </div>
    </div>
    <img class="contact-us" src="../../img/contact_us.png" alt="">
    <script src="../../js/lib/jquery/1.11.3/jquery-1.11.3.min.js"></script>
    <script src="../../js/common/common.js"></script>
    <script src="../../js/common/user.js"></script>
</body>
</html>