<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>关于我们-高能广告</title>
        <meta name="description" content="关于我们-高能广告">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="/favicon.png">
        <link rel="stylesheet" href="../../css/common/font-awesome.min.css">
        <link rel="stylesheet" href="../../css/common/common.css">
        <link rel="stylesheet" href="../../css/common/layout.css">
        <link rel="stylesheet" href="../../css/views/helpCenter.css">
    </head>
    <body>
        <div class="top-header">
            <div class="wrap">
                <div class="logo-wrap">
                    <img id="top-header-logo" src="../../img/logo.png" alt="高能广告logo">
                </div>
                <ul class="top-header-nav fr">
                    <li><a href="../../index.html">首页</a></li>
                    <li><a href="../productIntro.html">产品介绍</a></li>
                    <li><a href="../partners.html">合作伙伴</a></li>
                    <li><a href="../helpCenter/aboutUs.html">帮助中心</a></li>
                </ul>
            </div>
        </div>
        <div class="blank-50"></div>
        <div class="banner">
            <div class="wrap">
                <img class="w100p" src="../../img/helpCenter/help_header_pic.jpg" alt="">    
            </div>
        </div>

        <div class="blank-50"></div>

        <div class="content">
            <div class="wrap">
                <div class="nav">
                    <ul>
                        <li><a href="aboutUs.html">关于我们</a></li>
                        <li><a class="help-nav-current" href="normalQ.html">常见问题</a></li>
                        <li><a href="contactUs.html">联系我们</a></li>
                        <li><a href="joinUs.html">加入我们</a></li>
                        <li><a href="downloadCenter.html">下载中心</a></li>
                        <li><a href="onlineFB.html">在线反馈</a></li>
                        <li><a href="news.html.html">高能动态</a></li>
                    </ul>
                </div>
                <div class="content-title">
                    <h1 class="color-999"><i class="square"></i>广告主常见问题</h1>
                </div>
                <div class="content-body">
                    <ul>
                        <li class="item">
                            <h2><i class="circle"></i>高能广告是什么？</h2>
                            <p> 登录平台后，在平台首页，用户可以点击“广告主”菜单中的“发布广告”，系统将跳至“发布广告”的页面，用户输入广告的相关信息后点击“下一步”选择投放的目标信息，最后制定好广告预算，点击“完成”即可完成一个广告的创建过程。</p>
                            
                        </li>
                        <li class="item">
                            <h2><i class="circle"></i>如何做到精准投放广告？</h2>
                            <p>广告主用户创建广告时，可以填写投放目标信息，而开发者用户提交应用时会填写应用的相关信息，那么平台就会自动地将广告按照广告主制定的投放目标推送到跟该目标相符合的应用程序中，从而实现精准投放。其精准的程序包括广告投放到的应用类型、手机系统、手机品牌、地区、投放的时间段乃至使用手机的用户类别等。例如广告主指定投放目标时将广告投放到网络游戏中，那么该广告就将只出现在网络游戏中，不会出现在其他游戏或软件中。</p>
                        </li>
                        <li class="item">
                            <h2><i class="circle"></i>广告如何收费？</h2>
                            <p> 本平台对于广告的收费分为每千次展示收费和单次点击收费，每千次展示收费和单次点击收费的基本标准是根据广告主创建的广告内容（是否有文字、图标、图片）、制定的投放目标（覆盖范围、精准程度、投放时间段）而给定的，即提供一个最低定价和一般定价区间，具体定价由广告主用户自主设定。</p>
                        </li>
                        <li class="item">
                            <h2><i class="circle"></i>付款方式如何？</h2>
                            <p>广告主用户可以通过网银充值的方式向本平台的广告账户充入一定的金额，该金额将完全用于广告支出，平台会根据广告的展示千次数和点击次数对广告余额进行扣费。</p>
                        </li>
                         <li class="item">
                            <h2><i class="circle"></i>广告效果如何知道？</h2>
                            <p>广告主用户可以通过网银充值的方式向本平台的广告账户充入一定的金额，该金额将完全用于广告支出，平台会根据广告的展示千次数和点击次数对广告余额进行扣费。</p>
                        </li>
                    </ul>
                </div>
                <div class="content-title mt30">
                    <h1 class="color-999"><i class="square"></i>开发者常见问题</h1>
                </div>
                <div class="content-body">
                    <ul>
                        <li class="item">
                            <h2><i class="circle"></i>为什么我的注册邮箱没有收到激活邮件？</h2>
                            <p> 一些邮箱可能会把我们的邮件归类到广告邮件或者垃圾邮件，您可以去那里找一下。</p>
                            
                        </li>
                        <li class="item">
                            <h2><i class="circle"></i>完善信息的时候选择个人开发者和公司开发者有什么区别？</h2>
                            <p>公司开发者,建议注册公司账号。公司开发者会走相应合同流程，独家合作或者深度合作可相应提高分成比例。另外，关于发票方面，如果用个人账号注册提供不了相应发票需要按劳务报酬所得相应代扣税费，而公司开发者提供满足条件发票即可全额打款不再扣税。</p>
                        </li>
                        <li class="item">
                            <h2><i class="circle"></i>册填写信息后需要等通过审核才能使用高能平台吗？</h2>
                            <p> 填写完信息之后就可以使用高能平台了，身份审核主要是在提款时才会有影响。</p>
                        </li>
                        <li class="item">
                            <h2><i class="circle"></i>嵌入广告的时候可以选择哪些广告类型？</h2>
                            <p> 目前我们有应用墙、插屏广告和广告条。您可以根据需要选择其中的一种或多种广告类型。</p>
                        </li>
                         <li class="item">
                            <h2><i class="circle"></i>什么情况下显示的是测试广告？</h2>
                            <p style="text-indent:0;">
                                （1）如果应用没有通过审核，将显示测试广告；<br>
                                （2）如果是模拟器，无论是否通过审核都将显示测试广告；<br>
                                （3）如果应用的包名、id和key与网站上的不对应将显示测试广告。
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="content-title mt30">
                    <h1 class="color-999"><i class="square"></i>渠道商常见问题</h1>
                </div>
                <div class="content-body">
                    <ul>
                        <li class="item">
                            <h2><i class="circle"></i>高能广告为渠道经营者提供哪些服务呢？</h2>
                            <p> 高能广告平台集中了大量优秀的广告商， 渠道经营者可以通过很简单的几个步骤在平台上申请广告，投放到其渠道上，按照广告的效果数获得约定的广告费。</p>
                            
                        </li>
                        <li class="item">
                            <h2><i class="circle"></i>高能广告对申请加入平台渠道的有什么要求？</h2>
                            <p>渠道经营者对渠道有自主权，申请加入的渠道要不包含淫秽、色情、赌博、暴力、凶杀、恐怖等法律法规所禁止的内容的各种大中小商业渠道。</p>
                        </li>
                        <li class="item">
                            <h2><i class="circle"></i>渠道经营者需要付费吗？</h2>
                            <p> 有米广告对注册的合作伙伴是完全免费的，不收取任何的付费。</p>
                        </li>
                        <li class="item">
                            <h2><i class="circle"></i>什么是渠道经营者？</h2>
                            <p> 渠道经营者，具有特定渠道的修改，新增，删除内容的能力。广告主的广告活动在自已渠道播放，并按照自己完成的广告活动中规定的营销效果的总数量及单位效果价格向广告主收取费用。</p>
                        </li>
                         <li class="item">
                            <h2><i class="circle"></i>我需要签订长期合作协议吗？</h2>
                            <p>不需要。合作的时间长短，可以自己控制。</p>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="blank-100"></div>

        <div class="footer">
            <div class="wrap">
                <ul class="footer-top-list">
                    <li><a class="color-fff" href="javascript:;">关于我们</a></li>
                    <li><a class="color-fff" href="javascript:;">诚聘英才</a></li>
                    <li><a class="color-fff" href="javascript:;">联系我们</a></li>
                    <li><a class="color-fff" href="javascript:;">友情链接</a></li>
                </ul>
                <ul>
                    <li>版权所有: 高能广告联盟</li>
                    <li>ICP证: 粤B2-12345678 粤ICP备12345678号</li>
                    <li>免费热线: 111222333</li>
                </ul>
            </div>
        </div>
        <img class="contact-us" src="../../img/contact_us.png" alt="">
        <script src="../../js/lib/jquery/1.11.3/jquery-1.11.3.min.js"></script>
        <script src="../../js/common/common.js"></script>
        <script src="../../js/common/user.js"></script>
    </body>
</html>