<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>在线反馈-高能广告</title>
    <meta name="description" content="加入我们-高能广告">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.png">
    <link rel="stylesheet" href="../../css/common/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/common/common.css">
    <link rel="stylesheet" href="../../css/common/layout.css">
    <link rel="stylesheet" href="../../css/views/helpCenter.css">
    <style>
            .us-advantage{
            }
            .us-advantage ul li{

                margin-left: 40px;
                list-style-type: disc;
                
                line-height: 30px;
                color:#666666;

            }

        </style>
</head>
<body>
    <div class="top-header">
        <div class="wrap">
            <div class="logo-wrap">
                <img id="top-header-logo" src="../../img/logo.png" alt="高能广告logo"></div>
            <ul class="top-header-nav fr">
                <li><a href="../../index.html">首页</a></li>
                <li><a href="../productIntro.html">产品介绍</a></li>
                <li><a href="../partners.html">合作伙伴</a></li>
                <li><a href="../helpCenter/aboutUs.html">帮助中心</a></li>
            </ul>
        </div>
    </div>
    <div class="blank-50"></div>
    <div class="banner">
        <div class="wrap">
            <img class="w100p" src="../../img/helpCenter/help_header_pic.jpg" alt=""></div>
    </div>

    <div class="blank-50"></div>

    <div class="content">
        <div class="wrap">
            <div class="nav">
                <ul>
                    <li>
                        <a href="aboutUs.html">关于我们</a>
                    </li>
                    <li>
                        <a href="normalQ.html">常见问题</a>
                    </li>
                    <li>
                        <a href="contactUs.html">联系我们</a>
                    </li>
                    <li>
                        <a href="joinUs.html">加入我们</a>
                    </li>
                    <li>
                        <a href="downloadCenter.html">下载中心</a>
                    </li>
                    <li>
                        <a class="help-nav-current" href="onlineFB.html">在线反馈</a>
                    </li>
                    <li>
                        <a href="news.html.html">高能动态</a>
                    </li>
                </ul>
            </div>
            <div class="content-title">
                <h1 class="color-999"> <i class="square"></i>
                    在线反馈
                </h1>
            </div>
            <div class="content-body">
                <ul>
                    <li class="item">
                        <h2> <i class="circle"></i>
                            您的联系方式
                            <span class="f10 color-999">尊敬的用户，如果您留下联系方式，等您的反馈的问题解决之后，高能客服将会在第一时间通知您</span>
                        </h2>
                        <div class="us-advantage">
                            <ul>
                                <li>
                                    <label for="">邮箱地址:</label>
                                    <input type="text">    
                                </li>
                                <li>
                                    <label for="">手机地址:</label>
                                    <input type="text">    
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="item">
                        <h2>
                            <i class="circle"></i>
                            反馈信息
                        </h2>
                        <div class="us-advantage">
                            <ul>
                                <li>
                                    <label>出错页面:</label>
                                    <input type="text">
                                    <p>请输入出错页面完整URL，例如：http://www.youmi.net/apps/dashboard</p>
                                </li>
                                <li>
                                    <label>反馈内容:</label>
                                    <textarea name="" id="" cols="30" rows="10" placeholder="请详细描述页面出错信息">
                                    </textarea>

                                </li>
                                <li>
                                    <label>验证码:</label>
                                    <input type="text">
                                    <img src="" alt="验证码">
                                    <label>看不清？</label>
                                    <a href="javascript:;">换一张</a>
                                </li>
                                <li>
                                    <a id="submit-bt" href="javascript:;">提交反馈信息</a>
                                </li>
                            </ul>
                        </div>
                    </li>             
                </ul>
            </div>
        </div>

    </div>

    <div class="blank-100"></div>

    <div class="footer">
        <div class="wrap">
            <ul class="footer-top-list">
                <li>
                    <a class="color-fff" href="javascript:;">关于我们</a>
                </li>
                <li>
                    <a class="color-fff" href="javascript:;">诚聘英才</a>
                </li>
                <li>
                    <a class="color-fff" href="javascript:;">联系我们</a>
                </li>
                <li>
                    <a class="color-fff" href="javascript:;">友情链接</a>
                </li>
            </ul>
            <ul>
                <li>版权所有: 高能广告联盟</li>
                <li>ICP证: 粤B2-12345678 粤ICP备12345678号</li>
                <li>免费热线: 111222333</li>
            </ul>
        </div>
    </div>
    <img class="contact-us" src="../../img/contact_us.png" alt="">
    <script src="../../js/lib/jquery/1.11.3/jquery-1.11.3.min.js"></script>
    <script src="../../js/common/common.js"></script>
    <script src="../../js/common/user.js"></script>
</body>
</html>